h1{
  font-family: sans-serif;
}

p{
  font-family: monospace;
}

body{
  font-size: 15px;
}

#second{
  font-size: 1.5em;
}

p{
  font-style: italic;
  font-weight: bolder;
}

h1{
  text-align: center;
}
